<%= form_for(@onr) do |f| %>
  <% if @onr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@onr.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @onr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
